<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.george.ddmcrashlog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ddmlogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ddmlogo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrashLog_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CrashLog_LogIn" />
        <activity android:name=".CrashLog_Main" />
        <activity android:name=".android_bug_tracker" />
        <activity android:name=".android_bug_tracker2"></activity>
    </application>

</manifest>